<h1><%= @product.name%></h1>
<small>Product price: <%= @product.price%> </small><br>
<%if params[:collection_id] %>
    <%= link_to "Go back to collection", collection_path(@product.collection_id)%>
<%elsif params[:category_id] %>
    <%= link_to "Go back to #{@product.category.name}", category_path(@product.category_id)  %>
<% end %>